.product > .thumbnail {
	background-color: #ccc;
}
img.product {
	max-height: 330px;
	background-color: #fff;
}
span.error {
	color: red;
}
form.add_to_cart :first-child {
	margin-right: 10px;
}
td.description {
	overflow-y: scroll;
}
img.inventory {
	max-height: 100px;
}
div#search {
	margin-bottom: 20px;
}
input#search {
	margin-bottom: 0px;
}
